/* ----------- header hero section ----------------- */
.home-header {
  margin: 115px 0 120.5px 0;
}

.home-header-text-container {
  width: 750px;
  margin: 0 auto;
  text-align: left;
}

.leading-text {
  font-size: 12px;
  font-weight: 700;
  color: #999fb1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 12.5px;
}

.home-header-title {
  font-size: 96px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 90px;
}

.brand-statement {
  color: #bdc0c7;
  font-size: 14px;
  line-height: 28px;
  margin: 31px 0 62px 0;
  letter-spacing: 0.003em;
}

/* ----------- About section --------------------- */
.about-me {
  background-color: #1b1c21;
  height: 996px;
  padding: 166px 0 120px 0;
}

.about-img-container {
  width: 90%;
  position: relative;
  margin: 0 auto;
  height: 80%;
  background-image: url("../../assets/507D8CC1-40C1-4675-8C8B-7AC3304E567C_1_105_c.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 65%;
}

.about-me-heading {
  font-size: 96px;
  font-weight: 700;
  position: relative;
  top: -60px;
}

.about-me-text {
  padding-top: 42px;
  line-height: 28px;
  font-size: 14px;
  letter-spacing: 0.003em;
  width: 60%;
  margin: 0 auto;
  color: #bdc0c7;
}

/* ------------ Projects section (see ProjectCard.css) -------------------- */
.home-projects-container {
  height: auto;
  text-align: left;
  padding: 120px 80px;
}

.projects-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ---------- services section ---------------------------- */
.services-container {
  background-color: #1b1c21;
  text-align: left;
  height: auto;
}

.services-text {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  padding: 120px 0;
}

.services-title {
  font-size: 32px;
  font-weight: 700;
}

.services-list {
  margin: 38px 0 34px 0;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #cacdd4;
}

/* ----------- awards container -------------------- */
.awards-container {
  padding: 120px 0;
  text-align: left;
}

.awards-body {
  width: 85%;
  margin: 0 auto;
}

.awards-title {
  font-size: 32px;
  font-weight: 700;
}

.awards-grid {
  /* display: grid;
  grid-template-areas:
    "a c"
    "b d"; */
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.award {
  padding: 24px 0;
  border-bottom: 1px solid #808593;
  width: 48%;
  font-size: 13px;
  text-align: left;
}
